body {
    background-color: blanchedalmond;
}

#loading-icon {
    display: none;
}

#submit-message {
    display: none;
}

#loader {
    height: 26px;
    width: 26px;
    display: inline-block;
}

#submit-area {
    height: 26px;
    width: 110px;
    display: inline-block;
    vertical-align: top;
}