@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,500;1,500&display=swap');

body {
    background-color: #f2f2f2;
}

header, main, footer {
    background-color: rgb(249,249, 249);
    width: 700px;
    margin: 0 auto;
}

header {
   position: relative;
}

nav {
    width: 450px;
    position: absolute;
    right: 0;
    top: 75px;
    text-align: right;
}

nav ul {
    padding-right: 10pc;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    font-family: "Zilla Slab" serif;
    font-size: 24px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:link {
    color: grey;
}

nav ul li a:visited {
    color: grey;
}

nav ul li a:hover {
    color: red;
}

nav ul li a:active {
    position: relative;
    top: 2px;
    left: 2px;
}

main {
    height: 500px;
}


footer p#copy-notice {
    text-align: center;
    font-size: 12px;
    font-family: serif;
    color: #383432;
    margin: 12px 0;
}

/* Contact Page */

main div#first-column {
    background-color: yellow;
    width: 467px;
    height: 500px;
    display: inline-block;
}

main div#second-column {
    background-color: cyan;
    width: 230px;
    height: 500px;
    display: inline-block;
}